<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lmsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SubjectContent"></activity>
        <activity android:name=".DiscussionTeacher" />
        <activity android:name=".Schedules" />
        <activity android:name=".DiscussionPage" />
        <activity android:name=".ExamReport" />
        <activity android:name=".Subjects" />
        <activity android:name=".TeacherHomePage" />
        <activity android:name=".AllCourses"/>
        <activity android:name=".StudentProfile" />
        <activity android:name=".StudentHomePage" />
        <activity android:name=".TeacherProfile" />
        <activity android:name=".Attendance" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".StartingPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>